<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />

        <button type="submit"><a href="/login"> Login </a></button>
        <button type="submit"><a href="/logout"> Logout </a></button>
        <button type="submit"><a href="/signup"> Signup </a></button>
      </form>
    </div>
  </body>
</html>
